.bigbox {
  background-color: #ffffff;
  width: 1200px;
  height: 700px;
  margin: 18%;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 70px;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  position: absolute;
}
.smallbox {
  background-color: #ffffff;
  width: 1200px;
  height: 650px;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.boxform {
  background-color: #ffffff;
  width: 500px;
  height: 600px;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  float: right;
  display: flex;
  justify-content: center;
}
.boximage {
  background-color: #ffffff;
  width: 600px;
  height: 600px;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  float: right;
}
.imagelogin {
  width: 600px;
  height: 600px;
}
.formlogin {
  width: 450px;
  height: 500px;
  margin-top: 10%;
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  background-color: #fcf9f9;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.showhidePassword {
  width: 35px;
  height: 47px;
  margin-top: 24px;
  margin-left: -24px;
  margin-right: 5px;
  position: absolute;
  border: 1px solid rgb(199, 196, 196);
  border-radius: 15%;
}
